body{
    font-size: 20px;
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    margin: 50px;
}

h2{
    display: inline-block;
}

img{
    height: 60px;
    margin-left: 20px ;
}

a{
    color: yellowgreen;
}

main{
    background-color: rgba(90, 86, 84, 0.5);
    border-radius: 10px;
    padding: 50px;
}

div.installation{
    background-color: ghostwhite;
    color: black    ;
    padding: 30px;
    border: solid;
    border-width: 3px;
    border-radius: 20px;
    margin: 30px 0;
}

a:hover{
    color: rgb(255, 69, 0);
}

